<div class="container">
    <div class="btns">
        <button class="btn btn-secondary" (click)="resultnum(rndnum[0])">{{ rndnum[0] }}</button>
        <button class="btn btn-secondary" (click)="resultnum(rndnum[1])">{{ rndnum[1] }}</button>
        <button class="btn btn-secondary" (click)="resultnum(rndnum[2])">{{ rndnum[2] }}</button>
        <button class="btn btn-secondary" (click)="resultnum(rndnum[3])">{{ rndnum[3] }}</button>
        <button class="btn btn-secondary" (click)="resultnum(rndnum[4])">{{ rndnum[4] }}</button>
        <button class="btn btn-secondary" (click)="resultnum(rndnum[5])">{{ rndnum[5] }}</button>
    </div>

    <div class="selected">
        <h1>You have Selected</h1>
        <div class="result">
            <input type="number" value="{{result}}">
        </div>

    </div>
</div>